<header id="topbar" class="alt" th:fragment="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="/">微服务总览</a>
            </li>
            <li class="crumb-icon">
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-link">
                <a href="/">Home</a>
            </li>
            <li class="crumb-trail">微服务总览</li>
        </ol>
    </div>
    <div class="topbar-right">
        <!-- right content -->
    </div>
</header>
